name: Test
description: A simple Flutter app with login and home page
publish_to: "none" # since this is for personal use

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  webview_flutter: ^4.0.7
  cupertino_icons: ^1.0.8

  flutter_launcher_icons: ^0.13.1

  flutter_launcher_icons:
    android: true
    ios: false
    image_path: "assets/logo.png"

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
